.container {
    padding: 20px 8px;
}

.icon {
    font-size: 1.7rem;
}

.text {
    font-size: 1.1rem;
    font-weight: bold !important;
}

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 16px
}

.nav-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
}

/* PLAYLISTS */
.playlist-filters {
    padding: 0px 8px;
}

.playlist-item .img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.playlist-item .subtitle {
    font-size: .73rem;
    font-weight: bold;
    color: #7e7e7e;
}