.container {
    padding: 20px;
}

.icon {
    font-size: 1.7rem;
}

.text {
    font-size: 1.1rem;
    font-weight: bold !important;
}

.nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
}



