.nav {
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-item .text {
    font-size: 1.1rem;
    font-weight: bold;
}

.icon {
    font-size: 1.7rem;
}