.navigation-buttons .wrapper {
   background-color: rgba(0,0,0,0.56);
   padding: 6px;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   cursor: pointer
}

.text-gray {
   color: #b3b3b3
}

.icon-verified {
   background: radial-gradient(white, transparent, transparent);
   color: #009fff;
}